* {
    box-sizing: border-box;
}

body {
    background-color: #26667F;
    border: 5px double white;
    margin: 2rem;
    padding: 2rem;
    line-height: 2;
}

h1 {
    text-align: center;
    color: #19183B;
    text-shadow: 3px 3px #A1C2BD;
    letter-spacing: 8px;
    font-size: 300%;
    font-family: Racing Sans One, serif;
    padding-bottom: 1rem;
    /* style h1 with larger font size and spacing for more significance */
}

h2 {
    color: #67C090;
    letter-spacing: 2px;
    text-shadow: 2px 2px white, 4px 4px #4F200D;
    padding-bottom: 0.5rem;
    font-size: 210%;
}

h3 {
    color: #67C090;
    text-decoration: underline;
    padding-bottom: 0.5rem;
    font-size: 150%;
}

h4 {
    text-decoration: underline;
    /* Add underline for better readability and to show importance*/
}

p {
    font-family: Tahoma, serif;
    color: white;
}

li {
    font-family: Tahoma, serif;
    color: white;
}

.workExp li {
    color: #C9B59C;
}

table {
    font-family: Tahoma, serif;
    color: white;
}

#project {
    text-shadow: 2px 2px white, 4px 4px #4F200D;
    font-size: 225%;
    /* Add shadow and larger font size to make text pop */
}

a {
    text-decoration: none;
    color: #48B3AF;
    /* removed underline from anchor tags */
}

form div {
    color: white;
    font-family: Tahoma, serif;
    margin: 0;
    padding: 0;
    border: none;
}

/*==Flexbox Alignment==*/

/*Header Alignment*/

header {
    display: flex;
    justify-content: space-between;
    height: 20rem;
}


header .img-self {
    display: block;
    border-radius: 50%;
    border: double white 5px;
    align-self: flex-start;
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    /* rounded the image and aligned in the top right corner */
}

header .name-self {
    align-self: center;
    margin: 0 auto;
}

header .info {
    align-self: flex-end;
    width: 12rem;
    margin: 0;
}

/* Section alignment */
section {
    margin: 4rem 0;
    border-top: 3px dotted white;
}

/* Skills alignment */
.skills {
    display: flex;
    justify-content: space-between;
}

/* Form alignment */
form input, form textarea, form select {
    padding: .1rem 0.2rem;
    border: 2px dotted;
    color: black;
}

form button {
    padding: 0.3rem 1rem;
    color:#67C090;
    border: 3px solid;
    background-color: white;
    transition: color 1s ease-in, background-color 1s ease-in;
}

button:hover {
    color: white;
    background-color: #67C090;
}
/* added hover function for the submit button.*/


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .text-input-cont,
.contact .select-cont,
.contact .checkbox-cont {
    display: flex;
    width: 20rem;
    margin-bottom: 1rem;
}

.contact .text-input-cont input,
.contact .text-input-cont textarea,
.contact .select-container select {
    width: 20rem;
}

.contact h3 {
    align-self: flex-start;
}
/* Centered and spaced the forms contact area for cleaner readability */


/* Media Query */

@media (max-width: 1000px) {
    .skills {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }
    header .img-self {
        height: 10rem;
        width: 10rem;
    }
}
/* Added media query to scale the header and skills section so that it isn't overlapping. */
